/*	Optimized for 3rd generation iPad in landscape mode (width: 1024 CSS-pixels) */

* {
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
	outline-width: 0;
	font-weight: normal;
	}
@font-face {
	font-family: "Conqueror Slab Light";
	src: url("awconquerorslab-light-webfont.woff") format("woff"); /* Mac OS X ≥ 10.1 | iOS ≥ 10.3(?) */
	}
@font-face {
	font-family: "Open Sans Regular";
	src: url("../css/OpenSans-Regular.woff") format("woff");
	}
@font-face {
	font-family: "Open Sans Italic";
	src: url("../css/OpenSans-Italic.woff") format("woff");
	}
@font-face {
	font-family: "Open Sans Semibold";
	src: url("../css/OpenSans-Semibold.woff") format("woff");
	}
@font-face {
	font-family: "Open Sans Semibold Italic";
	src: url("../css/OpenSans-SemiboldItalic.woff") format("woff");
	}
body {
	font: 62.5%/1.5 "Open Sans Regular",sans-serif; /* Fallback: Helvetica (Mac) or Arial (PC) | https://css-tricks.com/sans-serif */
	color: rgba(255,255,255,.4);
	background: #740101 url("10by10.gif");
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: #ff0;
	}
#index ul, .tapArea { line-height: 2.9; } /* Together w font height, this yields an approximate ideal touch/tap area for links in unordered lists on the index page and for video listings */
#kitchen {
	width: 896px;
	margin: 32px auto 18px;
	}
#recipe {
	position: relative; /* Base for Home/Menu button */
	float: left;
	width: 412px;
	padding: 18px 15px 21px;
	background-color: rgba(0,0,0,.2);
	}
aside {
	width: 436px;
	float: right;
	}
#recipe, aside { margin: 9px 0 12px; }
#home {
	position: absolute;
	top: 0;
	left: -52px;
	width: 40px;
	height: 34px;
	}
#home:link, #home:visited, #home:hover { border-bottom: none; }
#home svg {
	width: 40px;
	fill: rgba(0,0,0,.3);
	}
#home:hover svg { fill: rgba(0,0,0,.5); }
aside img:first-child {
	width: 418px;
	padding: 9px; /* Used instead of border which does not play well with rgba opacity */
	background-color: rgba(255,255,255,.4);
	}
h1, h2, h3 {
	font-family: "Conqueror Slab Light",monospace;
	line-height: 1.1;
	}
h1 { font-size: 4.6em; }
h2 {
	padding-top: .5em;
	font-size: 2.7em;
	}
h3 { font-size: 2.1em; }
h3, .pt15 { padding-top: 1.5em; }
p, ul {
	padding-top: .5em;
	font-size: 1.5em;
	}
ul {
	list-style: circle outside; /* 'outside' ensures that long lines wrap "indented". Note that rgb-alpha is not perfect for square/disc */
	margin-left: 18px; /* Empirical | Browsers render list styles differently */
	}
#recipe *:first-child { padding-top: 0; }
#recipe img {
	margin: 1.5em auto 0;
	border:  3px solid rgba(255,255,255,.4);
	display: block;
	}
a:link, a:visited, a:hover { color: rgba(255,255,255,.4); }
a:link, a:visited { border-bottom: 1px dotted rgba(255,255,255,.4); }
a:hover { border-bottom-style: solid; }
em, i {
	font-family: "Open Sans Italic";
	font-style: normal; /* Kills slanting of the already (truly) cursive font */
	}
strong {
	font-family: "Open Sans Semibold";
	font-style: normal; /* Kills fattening of the already (truly) semibold font */
	}
.hp { hanging-punctuation: first; } /* https://css-tricks.com/almanac/properties/h/hanging-punctuation */
.nb {
	font-family: "Conqueror Slab Light",monospace;
	color: rgba(255,255,255,.7);
	}
.person {
	width: 16px;
	margin-left: .3em;
	fill: rgba(255,255,255,.4);
	}
::selection { background-color: #ff0; }
img::selection { background-color: transparent; }

/*	START Modal windows  */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
	}
.modal div {
	position: absolute; /* See note on video width/height in video tag */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(238,245,223,.8);
	}
.modal video { border: 2px solid #eef5df; }
.modal:target { display: block; }

/*	END Modal windows  */

/*	START Link to close modal window  */

.modal a { border-bottom: 0; }
.modal a::before {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	display: block;
	content: "";
	}
.modal svg {
	position: fixed;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	margin: 24px 0 0 24px;
	padding: 6px;
	z-index: 1;
	}

/*	END Link to close modal window  */

/*	START Media queries related (requesting user to switch to landscape mode) */

#ui {
	width: 100vw;
	height: 80vh;
	font: 3em "Conqueror Slab Light",monospace;
	text-align: center;
	color: #000;
	vertical-align: bottom;
	background-image: -webkit-image-set(url("foo.gif") 1x,url("p-to-l-recipes.png") 2x);
	background-position: center;
	background-repeat: no-repeat;
	}
@media (orientation: portrait) {
	body {
		background-color: #fff;
		background-image: none;
		}
	html body * { display: none; }
	#ui { display: table-cell; }
	}
@media (orientation: landscape) { #ui { display: none; } }

/*	END Media queries related... */